@font-face{
font-family: 'index';
src: url(pirata_one/PirataOne-Regular.ttf);
}
@font-face{
font-family: 'empresa';
src: url(gothic_war/GothicWar.otf);
}

#index a{
    background: darkmagenta;
    border-radius: 12px; 
    padding: 7px; 
    cursor: pointer; 
    color: white;
    border: none; 
    font-size: 15px;
    text-decoration: none;
    margin: 10px;
    right: 10px;
    font-family: 'Arial Black';
}

#index h1{
	font-family: 'index';
	font-size: 50px;
}

#empresa header h1 {
    font-family: 'empresa';
    color: white;
    margin: 10px 10px 10px 10px;
    margin-top: 30px;
    font-size: 110px;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgb(29, 21, 6);
    text-shadow: 0 0 10px #000000;
}
#empresa body{
	background-color: black;
}
#empresa h2, h4 {
    font-family: 'Georgia';
    margin-top: 15px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(29, 21, 6);
    text-shadow: 0 0 3px #000000;
}
#empresa h4 {
    margin-bottom: -16px;
}
#empresa h2 {
    margin-bottom: -10px;
}
#empresa p {
    font-family: 'Georgia';
    font-size: 20px;
    margin-top: 10px;
}
#empresa main {
    text-align: center;
    padding-left: 186px;
}
#empresa main img {
    border-radius: 5px;
}
#empresa footer img {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
}
